body {
  background-image: url(https://www.teachwire.net/images/made/uploads/news/iStock-910174036_687_458_80_int.jpg);
  background-size: cover;
  background-color: black;
  color: azure;
}

.container {
  background-image: url(https://scx1.b-cdn.net/csz/news/800/2018/studyofdista.jpg);
  background-size: cover;
  background-color: black;
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px;
  margin: auto;
  width: 50%;
  position: relative;
  top: 25px;
  text-align: center;
}

#output {
  display: none;
}